* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

main {
    text-align: center;
}

.container {
    max-width: 320px;
    border-radius: 25px;
    padding: 35px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.container_green {
    background-color: #485C46;
}
.container_white {
    background-color: #F6F9FC;
}

.wrapper__icon {
    margin-bottom: 30px;
}

.wrapper__icon img {
    width: 80px;
    height: 80px;
    display: inline-block; 
}

.title {
    max-width: 195px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    margin: 0 auto;
}

.title_green {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.title_white {
    color: #485C46;
    margin-bottom: 25px;
}

.text {
    margin-bottom: 30px;
}

.text_green {
    max-width: 250px;
}

.text_white {
    color: #343A40;
    margin-bottom: 25px;
    max-width: 224px;
}

.button {
    display: inline-block;
    padding: 14px 16px;
    background-color: #FFF;
    border-radius: 6px;
    font-weight: 600;
    line-height: 18px;
    font-size: 1rem;
}

.button_green {
    max-width: 185px;
    width: 100%;
    padding: 14px 16px;
    border: none;
    color: #485C46;
}

.button_white {
    border: 2px solid #485C46;
    padding: 10px 16px;
    color: #485C46;
}
