* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.buttons {
    max-width: 648px;
    padding: 20px;
}

.buttons__headline {
    font-size: 48px;
    line-height: 52px;
    color: #1D2026;
    margin-bottom: 25px;
}

.buttons__group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons__title {
    font-size: 20px;
    line-height: 26px;
    color: #1D2026;
}

.button-row {
    display: flex;
    gap: 16px;
}

.buttons__group_arrow {
     gap: 24px; 
}

.buttons__group_arrow .button-row {
    flex-direction: column;
    gap: 24px; 
}

.buttons__group_orange {
    margin-bottom: 40px; 
}

.buttons__group_blue {
    margin-bottom: 65px;
}

button {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.button {
    max-width: 104px;
    width: 100%;
    padding: 0 24px;
    color: #FFFFFF;
    line-height: 48px;
}

.button:not(.button_orange-disable):not(.button_blue-disable) {
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:not(.button_orange-disable):not(.button_blue-disable):hover {
    transform: scale(1.05);
}

.button_orange {
    background-color: #FF6636;
}

.button_orange:hover {
    background-color: #CC522B;
}

.button_orange-disable {
    background-color: #FFDDD1;
}

.button_blue {
    background-color: #564FFD;
}

.button_blue:hover {
    background-color: #453FCA;
}

.button_blue-disable {
    background-color: #CDCBFE;
}

.button-arrow {
    background-color: #FFFFFF;
    max-width: 80px;
    padding: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.button-arrow_green {
    color: #23BD33;
}


.button-arrow_red {
    color: #E34444;
}

.button-arrow_green:hover {
    border-bottom-color: #23BD33;
}

.button-arrow_red:hover {
    border-bottom: 1px solid #E34444;
}