* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.plant__title {
    font-size: 38px;
    line-height: 46px;
}

.plant__text {
    line-height: 34px;
}

.plants {
    background-color: rgba(27, 35, 22, 1);
    padding-top: 329px;
    padding-bottom: 519px;
}

.container {
    max-width: 1647px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: visible;
}

.swiper {
    padding-top: 122px;
    padding-bottom: 157px;
    position: relative;
}


.swiper-slide {
    border: 3px solid #FFF;
    border-radius: 92px;
    min-height: 755px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 60px;
    padding: 137px 62px 132px;
    justify-content: flex-end;
}



.plant__img {
    width: 877px;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: -40px;
    bottom: 20px;
}


.plant__content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 699px;
    color: rgba(255, 255, 255, 0.75);
}

.plant__button {
    width: 100%;
    max-width: 217px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    background: transparent;
    opacity: 75%;
    font-weight: 400;
    line-height: 34px;
}

.plants .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.75);
}

.swiper-pagination-bullet-active {
    border-radius: 48px;
    width: 31px;
}

