* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-family: Pontano Sans;
    font-size: 12px;
    color: #205529;
}

div {
    max-width: 480px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 40px 28px;
    background-color: #FAF2E6;
    text-align: center;
}

span {
    border: 1px solid #205529;
    border-radius: 4px;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.32;
    color: #205529;
    display: inline-block;
    margin-bottom: 12px;
}

h1 {
    max-width: 280px;
    color: #205529;
    font-family: Instrument Serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 108%;
    margin: 0 auto 12px;
}

div p {
    font-size: 1.16rem;
    font-weight: 500;
    line-height: 1.36;
    margin-bottom: 20px;
}

button {
    border-radius: 6px;
    background-color: #205529;
    border: none;
    padding: 12px 16px;
    font-size: 1.16rem;
    font-weight: 500;
    line-height: 1.36;
    color: #FAF2E6;
    text-decoration: none;
}

