* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bloks {
    margin: 200px 0;
}

.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;

}

.container_second {
    background-color:cornflowerblue;
}

.content {
    border: 1px solid #EBEBF0;
    padding: 30px 50px;
    flex: 0 1 288px;
}

.wrapper__icon {
    width: 36px;
    margin-bottom: 20px;
}

.content__text {
    max-width: 188px;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.content_center {
    background-color: #EBEBF0;
}

.container_second {
    height: 400px;
    justify-content: center;
    align-items: center;
}

