* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar content content"
        "footer footer footer"
    ;
    gap: 10px;
    grid-template-columns: 1fr 1fr 2fr;
}

header  { grid-area: header;  background: #3498db; }
aside   { grid-area: sidebar; background: #2ecc71; }
main    { grid-area: content; background: #ecf0f1; }
footer  { grid-area: footer;  background: #34495e; }